#id_include153120 {
    text-align: center;
    text-decoration: underline;
    position: relative;
    height: 236px;
    color: rgb(253, 253, 253);
    font-size: 41px;
    line-height: 231px;
    background-image: url("/dev/modul/htmlred/filest/site/58160110.png");
    background-size: cover;
    padding-top: 319px;
    top: 225px;
}

#id_include5494 {
    text-align: null;
    text-decoration: null;
    display: block;
    float: null;
    position: relative;
    overflow: null;
    width: 161px;
    height: 59px;
    font-size: 24px;
    left: 534px;
    top: 5px;
}

body {
    width: 1024px;
    position: relative;
    background: center center / cover rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0px auto;
}